<div class="back-arrow">
<%= link_to image_tag("arrow-back.png"), :back %>
</div>

<h1>New List</h1>
<br>
<br>
<%= simple_form_for(@collection) do |f| %>
<div class="formdevise">
  <%= f.input :name, placeholder: 'Enter List Name' %>
  <br>
  <%= f.input :photo, as: :file %>
  <br>
  <%= f.label 'Set As Public', class: "label-capitalize" %>
  <%= f.input :public, as: :boolean  %>
  <br>
  <%= f.button :submit, class: "button-large", style: "width: 60vw;" %>
</div>
<% end %>
