<h1>New List</h1>
<br>
<br>
<%= simple_form_for(@collection) do |f| %>
<div class="formdevise">
  <%= f.input :name, placeholder: 'Enter List Name' %>
  <%= f.label 'Set As Public' %>
  <%= f.input :public, as: :boolean  %>
  <%= f.button :submit, class: "button-large", style: "width: 60vw;" %>
</div>
<% end %>
