<div class="globe">
  <button id="map-view"><%= image_tag("globe.png") %></button>
</div>

<% if @collection.user == current_user %>
<div class="back-arrow">
<%= link_to image_tag("arrow-back.png"), collections_path %>
</div>
<% else %>
<div class="back-arrow">
<%= link_to image_tag("arrow-back.png"), profile_path(@collection.user) %>
</div>
<% end %>
<br>
<br>
<div id= 'toggle-title'>
  <h2 style="margin-bottom: 5vh;"><%= @collection.name %> List</h2>
</div>


<div >
  <div id='toggle-cards'>
    <% if @collection.user == current_user %>
      <%= link_to "Add Place To List", new_collection_collection_restaurant_path(@collection), class: "button-large" %>
    <% end %>
    <% @collection.restaurants.each do |col| %>
      <div class="restaurant-card-view">
        <div class="card-image">
          <img src="<%= col.photo %>" alt="restaurant image placeholder">
        </div>

        <div class="card-details">
          <div class="card-name-description">
            <h6><%= link_to col.name, restaurant_path(col, friend_id: @collection.user_id) %></strong></h6>
            <p><%= col.city %>, <%= col.country %></p>
          </div>

          <div class="card-stars-rating">
            <p><% col.notes[0].rating.times do %>
              <i class="fas fa-star" style="color:rgb(255, 202, 27); font-size:11px;"></i>
            <% end %></p>
            <p><%= col.notes[0].price %></p>
          </div>

        </div>
      </div>
    <% end %>
  </div>

  <div id='toggle-map' class="hide">
    <%= render 'shared/map' %>
  </div>

</div>
