<h1><%= @collection.name %></h1>
<br>
<%= button_to "Add a new Place", new_collection_collection_restaurant_path(@collection), class: "button-large", method: :get %>
<br>
<% @collection.restaurants.each do |col| %>
  <div class="list-card-share">
    <div class="card-image">
      <img src="https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" alt="restaurant image placeholder">
    </div>

    <div class="card-details">
      <div class="card-name-description">
        <p><strong><%= col.name %></strong></p>
        <p><small><%= col.address %></small></p>
        <p><small><%= col.phone_number %></small></p>
      </div>

      <div class="list-share-buttons">
        <%= link_to image_tag("view.png"), restaurant_path(col), class: "list-buttons view" %>
        <%= link_to image_tag("share.png"), "#", class: "list-buttons" %>
      </div>
    </div>
  </div>
<% end %>
