<h1><%= @collection.name %></h1>

<%= link_to "Add a new Place", new_collection_collection_restaurant_path(@collection), class: "button-large" %>

<% @collection.restaurants.each do |col| %>
  <div class="restaurant-card-view">
    <div class="card-image">
      <img src="<%= col.photo %>" alt="restaurant image placeholder">
    </div>

    <div class="card-details">
      <div class="card-name-description">
        <p><strong><%= col.name %></strong></p>
        <p><small><%= col.address %></small></p>
        <p><small><%= col.phone_number %></small></p>
      </div>

      <div class="view-button">
        <%= link_to "VIEW", restaurant_path(col)%>
      </div>
    </div>
  </div>
<% end %>
