<p class="back white", style="color: white !important;"><%= link_to "Back", collections_path %></p>
<br>

<h1><%= @collection.name %></h1>

<%= link_to "Add A new Place", new_collection_collection_restaurant_path(@collection), class: "button-large" %>

<% @collection.restaurants.each do |col| %>
  <div class="restaurant-card-view">
    <div class="card-image">
      <img src="<%= col.photo %>" alt="restaurant image placeholder">
    </div>

    <div class="card-details">
      <div class="card-name-description">
        <p><strong><%= link_to col.name, restaurant_path(col) %></strong></p>
      </div>


    </div>
  </div>
<% end %>
