<div class="your-profile">

  <p class="back black"><%= link_to "Back", dashboards_friends_path %></p>

  <br>
  <br>

<div class="your-profile">

  <h1 style="margin-bottom: 5vh;"><%= @user.first_name %>'s Profile</h1>

      <div class="profile-avatar-big">
        <p><%= image_tag(@user.avatar_url) %></p>
      </div>

      <div class="name-list">
        <p><strong><%= @user.first_name %> <%= @user.last_name %></strong></p>
        <p ><%= pluralize(@user.collections.count, 'list')%></p>
      </div>

      <div class="user-lists">
        <h5><%= @user.first_name %>'s Lists (<%= @user.collections.count %>)</h5>
      </div>

</div>

  <br>
  <br>

</div>
