<p class="back black"><%= link_to "Back", :back %></p>


<div class="restaurant-show">
  <h3><%= @restaurant.name %></h3>
  <div class="restaurant-address">
    <p style="margin-bottom: 0;" class="restaurant-address"><%= @restaurant.street_address %></p>
    <p><%= @restaurant.city %>, <%= @restaurant.country %></p>
  </div>
  <div class="restaurant-image">
    <img src="<%= @restaurant.photo %>"  alt="restaurant image placeholder">
  </div>
  <br>
  <br>
  <p>Enter your comments: </p>
  <%= simple_form_for [@restaurant, @note] do |f| %>
    <div class="formdevise">
      <br>
      <%= f.text_area :content, placeholder: 'Add a Note', class: "textarea" %>
      <%= hidden_field_tag "format", @collection.id %>
      <%= f.button :submit, class: "button-large", style: "width: 60vw;" %>
    </div>
  <% end %>
</div>
