<div class="back-arrow">
<%= link_to image_tag("arrow-back.png"), :back %>
</div>

<h1 style="margin-bottom: 5vh;">Add a Restaurant</h1>


<%= simple_form_for :search, url: new_collection_collection_restaurant_path, method: :get,  html: { id: :search } do |f| %>
  <div class="formdevise">
  <%= f.input :selection, placeholder: 'Select A Restaurant', input_html: { id: 'query'}, label: false %>
  <%= f.button :submit, class: "button-large",  id: 'btn-search' %>
  </div>
<% end %>


<% @restaurants.each do |rest|  %>
  <div class="restaurant-card-add">

    <div class="card-image">
      <img src="<%= rest.photo %>" alt="restaurant image placeholder">
    </div>

    <div class="card-details">

      <div class="card-name-description">
        <h6><%= rest.name %></h6>
        <p><%= rest.address %></p>
      </div>

      <div class="button-large add">
        <%= link_to "Add", collection_collection_restaurants_path(@collection, rest.id), method: :post, action: :create %>
      </div>

    </div>

  </div>

<% end %>
