<p class="back white"><%= link_to "Back", dashboards_path %></p>
<br>
<br>

<div class="friendships-page">
<h1 style="margin-bottom: 5vh;">Find Friends</h1>

<%= simple_form_for :search, url: new_friendship_path, method: :get do |f| %>
  <div class="formdevise friend-search-container">
  <%= f.input :search, placeholder: 'Enter Name' %>
  <%= f.button :submit, 'Search for User', class: "button-large search-friend" %>
  </div>
<% end %>

<div class="profile-container">
<% @users.each do |user| %>
  <% if user.id != @current_user.id %>
  <div class="profile-card">
    <div class="profile-avatar">
        <%= image_tag(user.avatar_url) %>
    </div>
    <div class="profile-details">
        <p><%= "#{user.first_name} #{user.last_name}" %></p>
        <p class="friend-location"><%= user.location %></p>
    </div>
    <div class="send-request">
      <%= link_to image_tag("add.png"), friendships_path(user), method: :post %>
    </div>
  </div>
  <% end %>
<% end %>

</div>
</div>
