<div class="back-arrow">
<%= link_to image_tag("arrow-back.png"), :back %>
</div>

<div class="friendships-page">
  <h1 style="margin-bottom: 5vh;">Find Friends</h1>

  <%= simple_form_for :search, url: new_friendship_path, method: :get do |f| %>
    <div class="formdevise friend-search-container">
      <%= f.input :search, placeholder: 'Enter Name' %>
      <%= f.button :submit, 'Search', class: "button-large search-friend" %>
    </div>
  <% end %>

  <br>
  <br>

  <div class="profile-container">
    <% @users.each do |user| %>
      <% if user.id != @current_user.id %>
        <div class="profile-card">
          <div class="profile-avatar">
            <%= image_tag(user.avatar_url) %>
          </div>
          <div class="profile-details">
            <p style="padding-left: 3vw !important;"><%= "#{user.first_name} #{user.last_name}" %></p>
            <p style="padding-left: 3vw !important;" class="friend-location"><%= user.location %></p>
          </div>
          <% if current_user.friend_of?(user) %>
            <div class="send-request">
              <%= link_to "View", profile_path(user), class: "button-large view", id: "friendship-view" %>
            </div>
          <% elsif current_user.friends('pending').include? user %>
            <div class="send-request">
              <%= link_to 'Pending', dashboards_pending_path, class: "button-large pending" %>
            </div>
          <% else %>
            <div class="send-request">
              <%= link_to 'Add', friendships_path(user), method: :post, class: "button-large", id: "friendship-view" %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
