<div class="friendships-page">
<h1 style="margin-bottom: 5vh;">Search for a User</h1>

<%= simple_form_for :search, url: new_friendship_path, method: :get do |f| %>
  <div class="formdevise friend-search-container">
  <%= f.input :selection, placeholder: 'Search for a User' %>
  <%= f.button :submit, 'Search', class: "button-large search-friend" %>
  </div>
<% end %>

<div class="profile-container">
<% @users.each do |user| %>
  <% if user.id != @current_user.id %>
  <div class="profile-card">
    <%= image_tag(user.avatar_url) %>
    <p><%= "#{user.first_name} #{user.last_name}" %></p>
    <p class="friend-location"><%= user.location %></p>
      <% if current_user.friend_of?(user) %>
        <div class="send-request">
          <%= link_to 'See Profile', "#" %>
        </div>
      <% elsif current_user.friends('pending').include? user %>
        <div class="send-request">
          <%= link_to 'Pending Request', '#' %>
        </div>
      <% else%>
        <div class="send-request">
          <%= link_to 'Add Friend', friendships_path(user), method: :post %>
        </div>
      <% end %>
  </div>
  <% end %>
<% end %>

</div>
</div>
