 <div class="splashscreen">
  <div id="main-logo">
    <%= image_tag("ristoviser-logo.png") %>
  </div>
</div>

<div class="homepage d-none">

  <div class="homepage-heading">
    <h1>RISTOVISER</h1>
    <p style="font-style: italic;">The only travel guide you'll ever need</p>
  </div>

  <div class="homepage-image">
    <%= image_tag("homepage-image.jpg") %>
  </div>

  <div class="login-buttons">

    <div class="login-button facebook">
        <%= image_tag("facebook-logo.png") %>
        <%= link_to "CONTINUE WITH FACEBOOK", "#" %>
    </div>

    <div class="login-button instagram">
      <%= image_tag("instagram-logo.png") %>
      <%= link_to "CONTINUE WITH INSTAGRAM", "#" %>
    </div>

    <div class="login-button email-signin">
      <%= image_tag("email-logo.png") %>
      <%= link_to "CONTINUE WITH EMAIL", collections_path %> <%# new_user_session_path when devise problem is fixed %>
    </div>
    <br>

  </div>
</div>
