<div class="globe">
  <button id="map-view"><%= image_tag("globe.png") %></button>
</div>

<div id= 'toggle-title'>
  <h1 style="margin-bottom: 5vh; letter-spacing: 3px;">Explore Restaurants</h1>
</div>

<div>
<div id='toggle-cards'>
<%= simple_form_for :search, url: restaurants_path, method: :get,  html: { id: :search } do |f| %>
  <div class="formdevise">
  <%= f.input :search, placeholder: 'Find A Restaurant', input_html: { id: 'query'}, label: false %>
  <%= f.button :submit, class: "button-large",  id: 'btn-search' %>
  </div>
<% end %>
<% @user_restaurants.each do |restaurant| %>
  <div class="restaurant-card-view">
    <div class="card-image">
      <img src="<%= restaurant.photo %>" alt="restaurant image placeholder">
    </div>

    <div class="card-details">
      <div class="card-name-description">
        <h6><%= link_to restaurant.name, restaurant_path(restaurant, friend_id: current_user) %></h6>
        <p><%= restaurant.city %>, <%= restaurant.country %></p>
      </div>
      <div class="card-stars-rating">
        <p><% restaurant.notes[0].rating.times do %>
              <i class="fas fa-star" style="color:rgb(255, 202, 27); font-size: 11px;"></i>
            <% end %></p>
        <p><%= restaurant.notes[0].price %></p>
      </div>
    </div>
  </div>
<% end %>
<br>
<br>
</div>
<div id='toggle-map' class="hide">
  <%= render 'shared/map' %>
</div>
</div>
