<div>
  <h1 style="margin-bottom: 5vh;">Explore Restaurants</h1>
  <button id="map-view">Map View!</button>
</div>

<%= simple_form_for :search, url: restaurants_path, method: :get,  html: { id: :search } do |f| %>
  <div class="formdevise">
  <%= f.input :Search, placeholder: 'Find A Restaurant', input_html: { id: 'query'} %>
  <%= f.button :submit, class: "button-large",  id: 'btn-search' %>
  </div>
<% end %>

<div>
<div id='toggle-cards'>
<% @user_restaurants.each do |restaurant| %>
  <div class="restaurant-card-view">
    <div class="card-image">
      <img src="<%= restaurant.photo %>" alt="restaurant image placeholder">
    </div>

    <div class="card-details">
      <div class="card-name-description">
        <p><strong><%= link_to restaurant.name, restaurant_path(restaurant) %></strong></p>
      </div>
    </div>
  </div>
<% end %>
</div>
<div id='toggle-map' class="hide">
  <%= render 'shared/map' %>
</div>
</div>
