<div>
  <h1 style="margin-bottom: 5vh; letter-spacing: 3px;">Explore Restaurants</h1>
  <button id="map-view">Map View!</button>
</div>


<div>
<div id='toggle-cards'>
<%= simple_form_for :search, url: restaurants_path, method: :get,  html: { id: :search } do |f| %>
  <div class="formdevise">
  <%= f.input :Search, placeholder: 'Find A Restaurant', input_html: { id: 'query'} %>
  <%= f.button :submit, class: "button-large",  id: 'btn-search' %>
  </div>
<% end %>
<% @user_restaurants.each do |restaurant| %>
  <div class="restaurant-card-view">
    <div class="card-image">
      <img src="<%= restaurant.photo %>" alt="restaurant image placeholder">
    </div>

    <div class="card-details">
      <div class="card-name-description">
        <h6><%= link_to restaurant.name, restaurant_path(restaurant) %></h6>
        <p><%= restaurant.city %>, <%= restaurant.country %></p>
      </div>
      <div class="card-stars-rating">
        <p><%= 'â­' * restaurant.notes[0].rating %></p>
        <p><%= restaurant.notes[0].price %></p>
      </div>
    </div>
  </div>
<% end %>
</div>
<div id='toggle-map' class="hide">
  <%= render 'shared/map' %>
</div>
</div>
