  <p class="back black"><%= link_to "Back", :back %></p>

  <h3><%= @restaurant.name %></h3>
  <div class="restaurant-address">
    <p><%= @restaurant.street_address %></p>
    <p><%= @restaurant.city %>, <%= @restaurant.country %></p>
    <p class="restaurant-number"><%= @restaurant.phone_number %></p>
  </div>
  <div class="restaurant-image">
    <img src="<%= @restaurant.photo %>"  alt="restaurant image placeholder">
  </div>

  <div  class="restaurant-description">
    <p>Personal Rating: <%= '★' * @note.rating %></p>
    <p>Price: <%= @note.price %></p>
    <p><%= @note.content %></p>

  </div>
  <div class="directions">
    <%= link_to "Get Directions", "https://www.google.com/maps/dir/?api=1&destination=" + @restaurant.name.gsub(" ", "+"), class: "button-large" %>
  </div>
  <br>
</div>
