<div class="back-arrow">
<%= link_to image_tag("arrow-back.png"), :back %>
</div>
<br>
<br>
  <h3><%= @restaurant.name %></h3>
  <div class="restaurant-address">
    <p><%= @restaurant.street_address %></p>
    <p><%= @restaurant.city %>, <%= @restaurant.country %></p>
    <p class="restaurant-number"><%= @restaurant.phone_number %></p>
  </div>
  <div class="restaurant-image">
    <img src="<%= @restaurant.photo %>"  alt="restaurant image placeholder">
  </div>
  <br>
  <div  class="restaurant-description">
    <div class="restaurant-details">
      <div class="stars-container">
        <p>My Rating:</p>
        <p><%= 'â­' * @note.rating %></p>
      </div>
      <div class="price-container">
        <p>Price:</p>
        <p><%= @note.price %></p>
      </div>
    </div>
    <br>
    <br>
    <p class="content-container"><%= @note.content %></p>
  </div>
  <br>
  <div class="directions button-large">
    <%= link_to "Get Directions", "https://www.google.com/maps/dir/?api=1&destination=" + @restaurant.name.gsub(" ", "+") %>
  </div>
  <br>
</div>
