<div class="restaurant-show">
  <h3><%= @restaurant.name %></h3>
  <p class="restaurant-address"><%= @restaurant.street_address %></p>
  <div class="restaurant-image">
    <img src="<%= @restaurant.photo %>"  alt="restaurant image placeholder">
  </div>
  <br>
  <div>
    <p class="restaurant-description"><%= @note.content %></p>
  </div>
  <div class="button-large directions">
    <%= link_to "Get Directions", "https://www.google.com/maps/dir/?api=1&destination=" + @restaurant.name.gsub(" ", "+"), class: "button-large" %>
  </div>
  <br>
</div>
