<div class="friendships-page">
<h1>All Friends</h1>

<div class="profile-container">
<% @friends.each do |user| %>
<div class="profile-card">
  <p><%= image_tag(user.avatar_url) %></p>
<<<<<<< HEAD
  <p style="padding-bottom: 2vh;"><%= "#{user.first_name} #{user.last_name}" %></p>
</div>
=======
  <p><%= "#{user.first_name} #{user.last_name}" %></p>
  <p class="friend-location"><%= user.location %></p>
  <div class="send-request">
  <%= link_to "See profile", "#" %>
  </div>
  </div>
>>>>>>> 86d3b68d21e2b545cd870a2c68ef81e91cbd869e
<% end %>
</div>
</div>
