<p class="back black"><%= link_to "Back", dashboards_path %></p>

<div class="friendships-page">

<h1 style="margin-bottom: 5vh;">All Friends</h1>

<div class="profile-container">

<% @friends.each do |user| %>
<div class="profile-card">
  <div class="profile-avatar">
    <p><%= image_tag(user.avatar_url) %></p>
  </div>
  <div class="profile-details">
    <p style="padding-left: 5vw !important;"><%= "#{user.first_name} #{user.last_name}" %></p>
    <p style="padding-left: 5vw !important;" class="friend-location"><%= user.location %></p>
  </div>
  <div class="send-request">
  <%= link_to "View", profile_path(user), class: "button-large view", id: "friendship-view" %>
  </div>
</div>
<% end %>

</div>
</div>
