<h1>Your Profile</h1>
<div>
  <p><%= image_tag(@user.avatar_url) %></p>
  <p><%= @user.first_name %> <%= @user.last_name %></p>
  <p><%= pluralize(@user.collections.count, 'directory')%></p>
</div>
<div class="button-large">
  <%= link_to "View Full Profile", "#" %>
</div>
<h3>Friends</h3>
<p> <%= link_to "Add a Friend", new_friendship_path %></p>
<p> <%= link_to "See Pending Requests", dashboards_pending_path %></p>
<p> <%= link_to "All Friends", dashboards_friends_path %></p>
<h3>Account</h3>
<p> <%= link_to "Account Settings" %></p>
