<!-- Login Buttons (Facebook/Instagram/Email Login) -->

<div class="login-buttons">

  <div class="facebook-login-button">
    <%= image_tag("facebook-logo.png") %>
    <%= link_to "CONTINUE WITH FACEBOOK", "#" %>
  </div>

  <div class="instagram-login-button">
    <%= image_tag("instagram-logo.png") %>
    <%= link_to "CONTINUE WITH INSTAGRAM", "#" %>
  </div>

  <div class="email-login-button">
    <%= image_tag("email-logo.png") %>
    <%= link_to "CONTINUE WITH EMAIL", "#" %>
  </div>

</div>

<!-- Large Button (View/Get Started/Search/Get Directions/Sign Up) -->

<div class="button-large">
  <a href="#">View</a>
</div>

<!-- Navigation Bar -->

<div class="navbar">

  <div class="globe">
    <a href="#"><%= image_tag("globe.png") %></a>
  </div>

  <div class="search">
    <a href="#"><%= image_tag("search.png") %></a>
  </div>

  <div class="add">
    <a href="#"><%= image_tag("add.png") %></a>
  </div>

  <div class="list">
    <a href="#"><%= image_tag("list.png") %></a>
  </div>

  <div class="profile">
    <a href="#"><%= image_tag("profile.png") %></a>
  </div>

</div>
